#containerDiv
{
	width: 85%;
	height: auto;
	margin: 0 auto;
	border: 2px solid white;
	border-radius: 5px;
	background-color: peru;
	background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
	background: rgba(128, 128, 128, .8);
	box-shadow: 5px 5px 5px black;
	margin-top: 17px;
}

body
{
	background-image: url('../../assets/images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#header
{
	text-align: center;
	padding-top: 20px;
}

#header > h1
{
	font-family: 'Coming Soon', cursive;
	color: white;
	font-size: 35px;
	display: inline;
}

#navBar
{
	height: auto;
	width: auto;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 30px;
	outline: 1px solid black;
	margin: 20px;
	border-radius: 5px;
}

#noBullets
{
	margin: 0;
	padding-left: 15px;
	list-style-type: none;
}

#noBullets li
{
	/*top right bottom left*/
	padding: 15px 15px 15px 20px;	
	display: inline;
}


#mainSection
{
	height: 500px;
	text-align: center;
	width: auto;
	padding-top: 25px;
	overflow-x: hidden;
	overflow-y: auto;
}

#footer
{
	clear: both;
	text-align: center;
	font-size: .7em;
	width: 75%;
	margin: 0 auto;
}

#footer > div
{
		padding-top: 25px;

}

#footerp
{
	border-top: 2px solid black;
	padding-top: 8px;
}

/* LINKS */
/* unvisited link */
a:link 
{
	text-decoration: none;
	color: darkblue;
}

/* visited link */
a:visited 
{
	color: darkblue;
	text-decoration: none;
}

/* mouse over link */
a:hover 
{
	text-decoration: none;
	text-shadow: 4px 3px 5px white;
}
/* END LINKS */


/* home_text_div css */
#slideshow
{
		float: left;	
}

#home_text_div
{
	overflow-y: auto;
	overflow-x: hidden;
	line-height: 30px;
}

#slideshow #slideshowWindow {
	width:470px;
	margin-left: 10%;
	padding:0;
	position:relative;
	overflow:hidden;
}

#slideshow #slideshowWindow .slide {
	margin:0;
	padding:0;
	width:470px; 
	float:left;
	position:relative;
}

#slideshowText
{
	float: right;
	width: 50%;
	margin-left: 100px;
	margin-right: 75px;
}


.picture {
	height:100px;
	width:100px;
	align:center;
	margin:10px;
}
.rows {
	margin:1px;
	display:inline;
	float:left;
}

#ourDinosaurs_div
{
	margin: 0 auto;
}

#header1
{
font-family: 'Amatic SC', cursive;
font-weight: bold;
color: white;
font-size: 70px;
border-style: ridge;
border-color: white;
margin: 20px;
background: rgba(30, 200, 30, .2)
}

#header2
{
font-family: 'Amatic SC', cursive;
font-weight: bold;
font-size: 30px;
color: white;
margin: 20px;
}

#philosophy
{
overflow: hidden;
font-family: 'Amatic SC', cursive;
font-weight: bold;
font-size: 20px;
color: white;
margin: 20px;
background: rgba(30, 200, 30, .2);
height: 200px;
width: 900px;
border: 2px solid;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}



#ourPhilosophy_div
{
	margin: 0 auto;
position: relative;
right: -17px;
height: 400px;
width: 974px;
border-style: ridge;
border-color: green;
}


#textpos
{
height: 200px;
width: 500px;
text-align: center;
word-wrap: break-word;
position: relative;
right: -300px;
}

#img
{
position: absolute;
z-index: 1;
border-style: ridge;
border-color: white;
background: rgba(50, 50, 200, .1);
right: 730px;
top: 200px;
}

#slideshowText > p
{
	text-align: left;
}

#credit_div
{
	font-size: .8em;
	width: 50%;
	margin: 0 auto;
	text-align: left;
}

#credit_div > h2
{
	text-align: center;
}

#middle-right
{
	float: right;
	margin-right: -150px;
	margin-top: 50px;
}

#middle
{
	margin: 0 auto;
	clear: both;
	width: 90%;
	border-top: 2px solid black;
}

#middle-left
{
	text-align: left;
}
/* END home_text_div css */

/* Webkit Scrollbars */
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}
/* END Webkit Scrollbars */

