/* our_dinos css */

.tab-dino-pic img
{
	width: 50%;
	height: 50%;
}

.tab-dino-pic
{
	padding-top: 25px;
}

.ourdinoTable th
{
	text-align: center;
}

.description
{
	text-align: right;
	padding-left: 25px;
}

.answers
{
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
}

.ourdinoTable
{
	border: 2px dashed white;
	margin-top: 25px;
}

.bottomTR
{
	padding-bottom: 25px;
}

.last
{
	padding-bottom: 20px;
}

#ourDinosaurs_div
{
	padding-left: 150px;
	padding-right: 150px;
}